# Node modules
node_modules/

# Compiled output
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Logs
logs
*.log

# Environment variables
.env

# IDEs
.idea/
.vscode/

# MacOS
.DS_Store

# npm
package-lock.json
